In [0]:
import pandas as pd

## creating a dataframe

In [14]:
x = pd.DataFrame([[1,2]],columns = ["apples","oranges"])
print(x)
x_ = pd.DataFrame({"neon":"john","lowl":"me"},index = [0])
print(x_)

   apples  oranges
0       1        2
   neon lowl
0  john   me

### with index

In [5]:
x2 = pd.DataFrame([[1,2],[3,4]],columns = ["apples","oranges"],index = [2015,2016])
x2

      apples  oranges
2015       1        2
2016       3        4

## making an pandas series

In [8]:
indices = [1,2,3,4,5,6]
values = ["a","b","c","d","e","f"]

series1 = pd.Series(values,index = indices,name = "Series1")
series1

1    a
2    b
3    c
4    d
5    e
6    f
Name: Series1, dtype: object

### Mathematical functions

In [20]:
# find_median = df.col.median()
# count_unique = df.col.unique()
# finding values per group or finding : df.col.value_counts()

mathdf = pd.read_csv("iris.csv")
mathdf.head()

,Id,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa

In [21]:
mathdf["Sepal Length (cm)"].value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: Sepal Length (cm), dtype: int64

## aggregate and stuff

NameError: ignored