In [0]:
import pandas as pd

## creating a dataframe

In [14]:
x = pd.DataFrame([[1,2]],columns = ["apples","oranges"])
print(x)
x_ = pd.DataFrame({"neon":"john","lowl":"me"},index = [0])
print(x_)

   apples  oranges
0       1        2
   neon lowl
0  john   me

### with index

In [5]:
x2 = pd.DataFrame([[1,2],[3,4]],columns = ["apples","oranges"],index = [2015,2016])
x2

      apples  oranges
2015       1        2
2016       3        4

## making an pandas series

In [8]:
indices = [1,2,3,4,5,6]
values = ["a","b","c","d","e","f"]

series1 = pd.Series(values,index = indices,name = "Series1")
series1

1    a
2    b
3    c
4    d
5    e
6    f
Name: Series1, dtype: object